<h1 class="">Show</h1>

<h2 class=""><% @restaurant.name %></h2>
<h3 class=""> <% @restaurant.category %></h3>
<p class=""> <% @restaurant.address %></p>
<p class=""> <% @restaurant.phone_number %></p>
<p class=""> <% @reviews.content %></p>
<p class=""> <% @reviews.rating %></p>
